In [ ]:
PROJECT - RESTAURANT REVENUE PREDICTION

In [1]:
import pandas as pd
RRP = pd.read_csv(r"C:\Users\anjan\OneDrive\Desktop\Projects\revenue_prediction.csv")
RRP

,Id,Name,Franchise,Category,City,No_Of_Item,Order_Placed,Revenue
0,101,HungryHowie'sPizza,Yes,Mexican,Bengaluru,55,5.5,5953753
1,102,CharleysPhillySteaks,No,Varied Menu,Gurugram,72,6.8,7223131
2,103,Chuy's,Yes,Chicken,Pune,25,1.9,2555379
3,104,O'Charley's,Yes,Italian/Pizza,Mumbai,18,2.5,2175511
4,105,PolloTropical,Yes,Pizza,Noida,48,4.2,4816715
...,...,...,...,...,...,...,...,...
95,196,Wetzel'sPretzels,No,Italian/Pizza,Bengaluru,19,1.1,1270499
96,197,LaMadeleineCountryFrenchCafe,Yes,Varied Menu,Bengaluru,75,6.3,6412623
97,198,Giordano's,Yes,Varied Menu,Gurugram,77,6.2,6694797
98,199,IslandsFineBurgers&Drinks,Yes,Sports Bar,Pune,25,2.1,2344689
99,200,Mimi'sBistro&Bakery,No,BBQ,Mumbai,50,4.4,4567678

In [3]:
RRP.shape

(100, 8)

In [5]:
RRP.describe()

               Id  No_Of_Item  Order_Placed       Revenue
count  100.000000  100.000000    100.000000  1.000000e+02
mean   150.500000   49.080000      4.086000  4.395161e+06
std     29.011492   22.370923      2.055101  2.659932e+06
min    101.000000   18.000000      1.000000  8.498700e+05
25%    125.750000   34.750000      2.750000  2.688328e+06
50%    150.500000   45.000000      3.650000  3.911401e+06
75%    175.250000   57.250000      5.100000  5.330084e+06
max    200.000000  126.000000     13.000000  1.969694e+07

In [7]:
RRP.isnull().sum()

Id              0
Name            0
Franchise       0
Category        0
City            0
No_Of_Item      0
Order_Placed    0
Revenue         0
dtype: int64

In [9]:
RRP.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            100 non-null    int64
 1   Name          100 non-null    object
 2   Franchise     100 non-null    object
 3   Category      100 non-null    object
 4   City          100 non-null    object
 5   No_Of_Item    100 non-null    int64
 6   Order_Placed  100 non-null    float64
 7   Revenue       100 non-null    int64
dtypes: float64(1), int64(3), object(4)
memory usage: 6.4+ KB

In [ ]:
PROBLEM STATEMENT:

Create a machine learning model to predict revenue of the restaurant based on
the features present in the dataset.

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder

RRP = pd.read_csv(r"C:\Users\anjan\OneDrive\Desktop\Projects\revenue_prediction.csv")

print(RRP.head())

X = RRP.drop('Revenue', axis=1)  
y = RRP['Revenue']

numeric_features = X.select_dtypes(include=['int64', 'float64']).columns
categorical_features = X.select_dtypes(include=['object']).columns

numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='mean')),
    ('scaler', StandardScaler())])

categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))])

preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)])

model = Pipeline(steps=[('preprocessor', preprocessor),
                        ('regressor', RandomForestRegressor(random_state=42))])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse}")
print(f"R-squared: {r2}")

    Id                  Name Franchise       Category       City  No_Of_Item  \
0  101    HungryHowie'sPizza       Yes        Mexican  Bengaluru          55
1  102  CharleysPhillySteaks        No    Varied Menu   Gurugram          72
2  103                Chuy's       Yes        Chicken       Pune          25
3  104           O'Charley's       Yes  Italian/Pizza     Mumbai          18
4  105         PolloTropical       Yes          Pizza      Noida          48

   Order_Placed  Revenue
0           5.5  5953753
1           6.8  7223131
2           1.9  2555379
3           2.5  2175511
4           4.2  4816715
Mean Squared Error: 205096755463.2565
R-squared: 0.8599311436836052

In [ ]:
In this project, you have to predict the restaurant revenue based on the
independent features using a machine learning algorithm of your own choice.

In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

RRP = pd.read_csv(r"C:\Users\anjan\OneDrive\Desktop\Projects\revenue_prediction.csv")

X = RRP.drop('Revenue', axis=1)  
y = RRP['Revenue']

numeric_features = X.select_dtypes(include=['int64', 'float64']).columns
categorical_features = X.select_dtypes(include=['object']).columns

numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='mean')),
    ('scaler', StandardScaler())])

categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))])

preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)])

model = Pipeline(steps=[('preprocessor', preprocessor),
                        ('regressor', RandomForestRegressor(random_state=42))])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse}")
print(f"R-squared: {r2}")

Mean Squared Error: 205096755463.2565
R-squared: 0.8599311436836052